ol {
	list-style-type: none;
}

.all-tweets {
	float: left;
	width: 40%;
}

.user-timeline {
	float: right;
	width: 40%;
}


/* Clearfix
*/
.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	clear: both;
	*zoom: 1;
}