body {
	background: white;
	background: -webkit-linear-gradient(powderblue, skyblue);
	background: 	moz-linear-gradient(powderblue, skyblue);
	background:			linear-gradient(powderblue, skyblue);
}

/*Lists*/

ol {
	list-style-type: none;
	text-align: left;
}


.all-tweets {
	float: left;
	width: 50%;
}

.user-timeline {
	float: right;
	width: 40%;
}

.timestamp {
	margin-top: 20px;
}

/* Clearfix
*/
.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	clear: both;
	*zoom: 1;
}

/* Usernames */

.username:hover {
	color: blue;
}